@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@keyframes scalein {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
@keyframes scaleout {
  0% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }

  100% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }
}
@keyframes grow {
  0% {
    transform: scale(0);
    transform-origin: 50% 100%;
  }

  100% {
    transform: scale(1);
    transform-origin: 50% 100%;
  }
}
@keyframes slideinright {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes bounce {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}
@keyframes myAnim {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
.html,
body {
  margin: 0;
  padding: 0;
  background-color: #130e38;
}

.lds-hourglass {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
.original-page-content {
  display: none;
}
nav {
  border-bottom: 2px solid #ffd700;
  transition: background-color 700ms ease, padding 500ms ease;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2 !important;
}
.nav-button {
  transition: padding 0.5s;
}
header {
  position: fixed;
  top: 0;
  z-index: -1;
  background-color: #f9f9f9;
  background-image: url(https://plus.unsplash.com/premium_photo-1683309567673-1a16c6364057?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80);
  height: 100dvh;
  width: 100vw;
  background-position: bottom;
  background-repeat: no-repeat; /* Prevent the image from repeating */
  /* background-attachment: fixed; */
}
.hero {
  animation: bounce 2s ease 0s 1 normal forwards;
}
.nav-on-scroll {
  background: #130e38;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.nav-in-dark-area {
  background-color: #f9f9f9 !important;
}

.nav-li-on-scroll {
  color: #f9f9f9 !important;
}
.nav-li-in-dark-area {
  color: #f9f9f9 !important;
}
.logo-on-scroll {
  font-size: 1.5em !important;
  color: #f9f9f9 !important;
}
.logo-in-dark-area {
  color: #f9f9f9 !important;
}
.nav-button-on-scroll {
  padding: 8px !important;
}
.about {
  margin-top: 100dvh;
  z-index: 1;
}

.logo {
  font-family: "clash display";
  font-weight: bold;
  font-size: 1.7em;
  color: #ffd700;
}
.logo-span {
  color: #130e38;
  padding-left: 7px;
}
.skillbox-hover-content {
  display: grid;
  height: 100px;
  width: 100px;
  text-align: center;
  border-radius: 9999px;
  border: 1px solid #ffd700;
  place-items: center;
  visibility: hidden;
}
.tool {
  visibility: hidden;
}
.skillbox-animation {
  visibility: visible;
  animation: myAnim 1s ease 0s 1 normal forwards;
}
.tool-animation {
  visibility: visible;
  animation: slideinright 1s ease 0s 1 normal forwards;
}
.work-box {
  display: grid;
  place-items: center;
  height: 270px;
  border-radius: 10px;
  border: 1px solid #ffc500;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 5px 5px 0 rgba(23, 0, 0, 0.2);
}

.laceup-logo {
  letter-spacing: 3px;
  font-size: 1.5rem;
  font-family: clash display;
}
.laceup-logo span {
  color: #d1f090;
}
.initial-content {
  font-weight: bold;
  display: block;
  width: 70%;
  margin: auto;
  text-align: center;
}
.hover-content {
  width: 100%;
  display: none;
  height: 100%;
}
.work-box:hover .initial-content {
  display: none;
}
.work-box:hover {
  border: none;
}
.work-box:hover .hover-content {
  display: block;
  animation: grow 300ms ease 0s 1 normal forwards;
}
.social {
  width: 20px;
}
.skills {
  padding: 150px none;
}
.skillbox-initial-content {
  height: 80px;
  width: 80px;
  display: none;
}
.skill-box:hover .skillbox-hover-content {
  display: grid;
}
.skill-box:hover .skillbox-initial-content {
  display: none;
}
.contact {
  background-image: url(https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHBvcnRmb2xpb3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);
  background-attachment: fixed;
  background-size: cover;
}
.my-button,
.second-button {
  position: relative;
  transition: color 0.3s;
  overflow: hidden;
  cursor: pointer;
}
.my-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #130e38;
  transition: left 0.3s;
  z-index: -1;
}
.second-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #130e38;
  transition: left 0.3s;
}
.my-button:hover::before {
  left: 0 !important;
}
.my-button:hover {
  color: #f9f9f9 !important;
}
.my-button:hover .fa-arrow-right-long {
  color: #f9f9f9 !important;
}
.second-button:hover::before {
  left: 0 !important;
}
.second-button:hover {
  color: #f9f9f9 !important;
}
.second-button:hover .fa-arrow-right-long {
  color: #f9f9f9 !important;
}
.show {
  display: flex !important;
}
.entrance-anim {
  animation: scalein 700ms ease 0s 1 normal forwards;
}
.exit-anim {
  animation: scaleout 700ms ease 0s 1 normal forwards;
  /* display: none !important; */
}
.white {
  color: #f9f9f9 !important;
}

@media screen and (min-width: 1024px) and (max-width: 1100px) {
  .work-box {
    height: 200px;
  }
  .initial-content {
    width: 85%;
  }
  .initial-content p {
    font-size: 14px;
    font-weight: lighter;
  }
  .work-content > p {
    width: 80%;
  }
  .work-content p,
  .contact-content p {
    font-size: 14px;
  }
  .contact-content h3 {
    font-size: 1.5rem;
  }
  .contact-content button {
    width: 80%;
  }
  footer {
    height: 40vh !important;
  }
}

@media screen and (min-width: 800px) and (max-width: 1023px) {
  header {
    background-size: cover;
    height: 65vh;
  }
  .about {
    margin-top: 59vh;
  }
}
@media screen and (min-width: 720px) and (max-width: 800px) {
  header {
    background-size: cover;
    height: 90vh;
  }
  .about {
    margin-top: 90vh;
  }
}
@media (max-width: 580px) {
  header {
    background-size: cover;
    height: 90vh;
    background-position: right;
  }
  .about {
    margin-top: 90vh;
  }
  .nav-li-on-scroll {
    color: #130e38 !important;
  }
}
